{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Tumba</title>

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

<header class="header">
    <div class="logo">TUMBA</div>
    <nav>
        <a href="/">Головна</a>
        <a href="/blog/">Товари</a>
        <a href="/contacts/">Контакти</a>
        <a href="/about/">Про нас</a>
    </nav>
</header>

<div class="container">
    {% block content %}{% endblock %}
</div>

</body>
</html>